.gameBoard {
  width: 500px;
  margin: 0 auto;
  background-color: aqua;
}
.starscontainer {
  display: flex;
  justify-content: center;
}
.Score {
  float: right;
  font-size: 30px;
}
.info {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
