.postGameScreen {
  width: 50vw;
  margin: 0 auto;
  list-style: none;
}
.postGameElement {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.postGameWord {
  width: 100px;
}
