.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.button-group {
  display: flex;
  gap: 20px;
}

.button-group-user {
  display: flex;
  gap: 20px;
}

.rs-logo {
  height: 80px;
  width: 80px;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}