.row {
  display: flex;
}

.title,
.data {
  padding: .5rem;
  flex-basis: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;

  font-size: 1.3rem;

  background-color: #7dcf92;

  border: 0.1rem double #d047e2;
}

.data {
  margin-top: 0.5rem;
  text-align: center;

  background-color: #ddeae0;
}
