.popUp {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 1rem;

  position: absolute;
  top: 3%;
  right: 3%;

  text-align: center;
  color: white;

  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;

  z-index: 5;

  animation: popup 500ms ease-in-out;
}

@keyframes popup {
  from {
    top: 0%;
    opacity: 0;
  }
  to {
    top: 3%;
    opacity: 1;
  }
}
