@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&display=swap');

.statistics {
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #94b49f;

  color: #5d1f9c;
}
.title,
.btn {
  padding: 1rem;
  align-self: center;

  font-size: 3rem;
  background-color: #7dcf92;

  border: 0.1rem solid #d047e2;
  border-radius: 1rem;
}

.btn{
  text-decoration: none;
  cursor: pointer;
}

.unAuth{
  text-align: center;
}

